/*a:link {color: black;}
a:visited {color: blue;}
a:focus {color: yellow}
a:hover {color: orange;}
a:active {color: silver;}*/
a {
    text-decoration: none;
}
a:link {color: #E55822;}       
a:visited {color: #E55822;}
a:hover {color: #9C011F} 
a:active {color: silver;}

h2 {
    margin:0;
    padding-bottom:10px;
    color:#9C011F;
    border-bottom:1px solid #C8C9C4;
}
h3 { 
    padding-bottom:10px;
    color:#9C011F;
    border-bottom:1px solid #C8C9C4;
}

/*-------------------------------SPIRITS-------------------------------*/
#sprites a{
    width: 24px;
	height: 22px;
	display:block;
	background-image:url(pics/sprite.png);
	text-indent:-999999px;
}
 #sprites li {
     float:left;
     list-style-type:none;
     margin-right:30px;
 }
#sprites {
    margin-left:700px;
}
 
#house {background-position:0 -49px;}
#house:hover {background-position:0 -1px;}
 
#hammer {background-position:0 -145px;}
#hammer:hover {background-position:0 -97px;}

#poster {background-position:-1px -240px;}
#poster:hover {background-position:-1px -192px;}

#post {background-position:0 -336px;}
#post:hover {background-position:0 -288px;}


/*-------------------------------meny bild-------------------------------*/
.taxi {
    width: 100%;
    height: 100px;
    }
/*-------------------------------meny buttoms-------------------------------*/
.navi ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    max-width: 920px;
}
.navi{
    margin:2px;
    padding-top: 20px ;
    background:#FC350E;
    max-width: 956px;
    width: 100%;
    
    }
.navi li {
    display: block;
    font-family: "helvetica", "georgia", "sans-serif" ;
}
.navi li a:hover{color: black;}
.navi li a:active {color: silver;}
.navi li a:hover {background-color: #C8C9C4} 

.links {
    float:left;
    text-decoration: none;
    color: #E55822; 
    background: #FFF9FF;
    padding: 6px 20px;
    display:block;
    margin: 1px;
}
.fokus {
    float:left;
    text-decoration: none;
    font-size: 20px;
    padding: 3.5px 20px;
    display:block;
    margin: 1px;
    border-bottom:1px solid #E55822;
    }
/*-------------------------------blogg innnehållet-------------------------------*/
.blogg {
    text-align: center;
    margin-top: 60px;
    margin-left:60px;
    margin-right:60px;
    font-family: "helvetica", "georgia", "sans-serif" ;
}
.blogg h2 {
    background-image: url("pics/lnutree.png");
    background-repeat: no-repeat; 
    background-position: center center;
    background-position: 70px;
    }
.blogg p {
    margin-left:70px;
    margin-right:70px;
    font-family: "Times New Roman", "georgia", "sans-serif";
    color: #424143;
}
.tree {
    float:left;
    width:25px;
    opacity: 0.3;
    position: relative;
}

.ny {
    float:right;
    width:200px;
    margin:0 0 10px 10px ;
}
.name {
    text-align: right;
}

/*-------------------------------laborationen-------------------------------*/


.lab p {
    font-family: "Times New Roman", "georgia", "sans-serif";
    color: #424143;
} 

.lab ul {
    list-style-type: none;
    margin-bottom:20px;
    padding:0;
}
.lab table {
    margin: auto;
}

/*-------------------------------Presentationen-------------------------------*/
.pres img {                     /*img bilden*/
    width: 30%
}
.shade  {
    opacity: 0.4;
    text-align: center;
}


/*-------------------------------Kontakt-------------------------------*/

.kontakt  {
    color:#9C011F;
    background-color: #FFF9FF;
    margin: 50px 110px 50px 110px;
}
.kontakt ul {
    list-style-type: none;
}
.atyp {
    float:left;
    margin-right:20px;
}
.rubrik {
    margin-right:39px;
}
.ask {
    float:left;
    margin-right:49px;
}
.box {
    margin-left:20px;
}
.box1 {
    margin-left:40px;
    margin-bottom:10px;
}
.info li {
    margin-left:90px;
} 
.send {
    margin-left:100px;
}
.mail {
    margin-right:20px;
}
.tel {
    margin-right:27px;
}

/*-------------------------------Footer under meny-------------------------------*/
.under {
    float:left;
    margin-top:20px;
    color: #424143;
    font-family: "helvetica", "georgia", "sans-serif" ;
}

/*-------------------------------CONTAINER------------width: 960px;-------------------*/

#container {                                      
   /* background-color: #BFCDBC;*/
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    
}
/*-------------------------------Header-------------------------------*/

#header {
    background-color: #FFF9FF ;
    margin: 0;
    padding:0;
    padding-top: 35px;
    }
    #header h1{
        color:#FC350E;
        font-size: 20px;
        font-family: "helvetica", "georgia", "sans-serif" ;
        text-align: left;
        margin-bottom: 0;
    }

/*-------------------------------NAVIGATION-------------------------------*/
#navigation {                              
    }
/*-------------------------------CONTENT-------------------------------*/
#content {                                      
    margin: auto;
    width: 730px;
    margin-top: 100px;
    }
/*-------------------------------FOOTER-------------------------------*/    
#footer {                                          
    margin:0;
    padding-top:20px;
    background-color: #E55822;
    clear:both;
    }

   
    
    /*NYA FÄRGER!!!
    Mörk orange 1 #9E121A
Mörk orange 2 #FC350E
Mörk orange 3 #9C011F

klar orange #FC350E

Beige orange #E55822

grå color: #424143;

ljus grå C8C9C4
Ljusa:

Blågrå #FFF9FF
Mörkare bågrå #BFC1D9
*/


/*-div#content
--div.blogg
---h2
--div.blogg
[10:36:58] Johan Leitet: #content h2
[10:37:07] Johan Leitet: .blogg h2
[10:40:14] Johan Leitet: <p class="blogg">
[10:40:25] Johan Leitet: <div class="blogg"> <p>
[10:40:29] Johan Leitet: .blogg p
[10:42:19] Johan Leitet: #blogg2 svg {width: 20%;}
*/
