/*a:link {color: black;}
a:visited {color: blue;}
a:focus {color: yellow}
a:hover {color: orange;}
a:active {color: silver;}*/


h2 {
    margin:0;
    padding-bottom:10px;
    color:#9C011F;
    border-bottom:1px solid #C8C9C4;
}
h3 { 
    padding-bottom:10px;
    color:#9C011F;
    border-bottom:1px solid #C8C9C4;
}



.onlink a {
    text-decoration: none;
   
}
.onlink a:link {color: #E55822;}       /*onlink är alla länkar utanför menyn*/
.onlink a:visited {color: #E55822;}
.onlink a:hover {color: black} 
.onlink a:active {color: silver;}

.taxi {
    width: 100%;
    height: 100px;
}

.navi ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    width: 920px;
}
.navi{
    margin:2px;
    padding-top: 20px ;
    background:#FC350E;
    width: 956px;
    }
.navi li {
    display: block;
    font-family: "helvetica" "georgia" sans-serif ;
}
.navi li a:hover{color: black;}
.navi li a:active {color: silver;}

.links {
    float:left;
    text-decoration: none;
    color: #E55822; 
    background: #FFF9FF;
    padding: 6px 20px;
    display:block;
    margin: 1px;
}
.fokus {
    float:left;
    text-decoration: none;
    font-size: 20px;
    padding: 3.5px 20px;
    display:block;
    margin: 1px;
    border-bottom:1px solid #E55822;
    }

.blogg {
    text-align: center;
    margin-top: 60px;
    margin-left:60px;
    margin-right:60px;
    font-family: "helvetica" "georgia" sans-serif ;
}
.blogg h2 {
    background-image: url("pics/lnutree.png");
    background-repeat: no-repeat; 
    background-position: center center;
    background-position: 70px;
    }
.blogg p {
    margin-left:70px;
    margin-right:70px;
    font-family: "Times New Roman" "georgia" sans-serif;
    color: #424143;
}
.tree {
    float:left;
    width:25px;
    opacity: 0.3;
    position: relative;
}

.ny {
    float:right;
    width:200px;
    margin:0 0 10px 10px ;
}
.name {
    text-align: right;
}




.lab {
    font-family: "helvetica" "georgia" sans-serif ;
}    
.lab p {
    font-family: "Times New Roman" "georgia" sans-serif;
    color: #424143;
} 
.lab ul {
    list-style-type: none;
    margin-bottom:20px;
    padding:0;
}
.lab table {
    margin: auto;
}

.pres img {                     /*img bilden*/
    width: 30%
}
.shade  {
    opacity: 0.4;
    text-align: center;
}




.kontakt  {
    color:#9C011F;
    background-color: #FFF9FF;
    margin: 50px 110px 50px 110px;
}
.kontakt ul {
    list-style-type: none;
}
.atyp {
    float:left;
    margin-right:20px;
}
.rubrik {
    margin-right:39px;
}
.ask {
    float:left;
    margin-right:49px;
}
.box {
    margin-left:20px;
}
.box1 {
    margin-left:40px;
    margin-bottom:10px;
}
.info li {
    margin-left:90px;
} 
.send {
    margin-left:100px;
}

.under {
    float:left;
    margin-top:20px;
    color: #424143;
    font-family: "helvetica" "georgia" sans-serif ;
}


#container {                                        /*CONTAINER*/
   /* background-color: #BFCDBC;*/
    width: 960px;
    margin: 0 auto;
    
}


#header {
    background-color: #FFF9FF ;
    margin: 0;
    padding:0;
    padding-top: 35px;
    }
    #header h1{
        color:#FC350E;
        font-size: 20px;
        font-family: "helvetica" "georgia" sans-serif ;
        text-align: left;
        margin-bottom: 0;
    }
    
#navigation {                                /*NAVIGATION*/
    }
    
#content {                                       /*CONTENT*/
    margin: auto;
    width: 730px;
    margin-top: 100px;
    }
    
#footer {                                           /*FOOTER*/
    margin:0;
    padding-top:40px;
    background-color: #E55822;
    clear:both;
    }
    
   
    
    /*NYA FÄRGER!!!
    Mörk orange 1 #9E121A
Mörk orange 2 #FC350E
Mörk orange 3 #9C011F

klar orange #FC350E

Beige orange #E55822

grå color: #424143;

ljus grå C8C9C4
Ljusa:

Blågrå #FFF9FF
Mörkare bågrå #BFC1D9
*/


/*-div#content
--div.blogg
---h2
--div.blogg
[10:36:58] Johan Leitet: #content h2
[10:37:07] Johan Leitet: .blogg h2
[10:40:14] Johan Leitet: <p class="blogg">
[10:40:25] Johan Leitet: <div class="blogg"> <p>
[10:40:29] Johan Leitet: .blogg p
[10:42:19] Johan Leitet: #blogg2 svg {width: 20%;}
*/
