
h2 {
    font-size:50px;
    }
   
h3 {
    font-size:50px;
    }
   
   p {
       font-size:40px;
   }
   
a {
   font-size:45px;
}

#sprites {
    visibility: hidden; 
}

#header h1 {
        font-size: 100px;
        text-align: center;
        margin-bottom: 30px;
}

/*-------------------------------meny buttoms-------------------------------*/    
.navi ul {
   margin-left: 5px;
}
    
.links {
    padding: 6px 15px;
    font-size: 40px;
    
}
.fokus {
        
    margin: 0;
    border-bottom:1px solid #E55822;
    }

/*-------------------------------blogg innnehållet-------------------------------*/
.blogg {
    
    margin-left:0;
    margin-right:0;
   
}
.blogg p {
    margin-left:0;
    margin-right:0;
    
}
.name {
    text-align: center;
}


/*-------------------------------laborationen-------------------------------*/
.lab {
    text-align: center;
}
.lab table {
    font-size: 200%;
    
}
.redovisningar {
    text-align:left;
    margin-left:30px;
    font-size: 200%;
}
/*-------------------------------Presentationen-------------------------------*/


.pres {
    list-style-type: none;
text-align: center;

}
.pres ol {
    list-style-type: none;
    }

.temp {
    visibility: hidden;
}
.pres img {                     /*img bilden*/
    width: 30%
}
.shade  {
    
    text-align: center;
}


/*-------------------------------Kontakt-------------------------------*/

.kontakt {
    font-size:300%;
}


.rubrik {
    margin-right:50px;
}
.ask {
    float:left;
    margin-right:85px;
}

.box {
    margin-left:20px;
    padding:15px;
}
.box1 {
    margin-left:79px;
    margin-bottom:10px;
}
.info li {
    margin-left:0;
} 
.send {
    margin-left:100px;
}
.tel {
    margin-right:50px;
}
.boxen {
    margin-bottom:0;
    padding-top:20px;
    padding-right:36px;
}
.buttom {
   
}

#content {   
    margin-top:170px;
   
    width: 100%;
    
    }